*.aps
*.bak
*.bin*
*.bmp
*.bsb
*.d
*.db
*.dat
*.dds
*.dll
*.doc
*.e
*.ebd
*.ebm
*.ecd
*.elixir
*.emd
*.epd
*.exe
*.file
*.g1a
*.g1co
*.g1t
*.g1s
*.g1m
*.glaze
*.gt1
*.gz
*.ini
*.inl
*.ipch
*.jpeg
*.jpg
*.json
!gust_enc.json
*.khm
*.ktf
*.lib
*.nut
*.o
*.obj
*.oid
*.opendb
*.opl2
*.pak
*.png
*.props
*.prp
*.qm
*.rdb
*.suo
*.swg
*.txt
*.VC.*
*.vcxproj.filters
*.vcxproj.user
*.xml*
*.zip
x86
x64
